<%= link_to replacements_path, class:"arrow mt-0" do %>
  <i class="fas fa-long-arrow-alt-left"></i>
<% end %>

<div class="container chatroom">

<% if @chatroom.name %>
  <h1><%= @chatroom.name.capitalize %></h1>
<% elsif @chatroom.owner == current_user %>
    <h1 class="pl-3"><%= image_tag @chatroom.recipient.photo, class:"avatar" %> <%= @chatroom.recipient.first_name %></h1>
<% else %>
  <h1><%= @chatroom.owner.first_name %></h1>
<% end %>

  <div class="messages"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="position-fixed">
    <%= simple_form_for [@chatroom, @message], remote: true, :html => { class:"d-flex" } do |f| %>
    <%= f.input :content, label: false, :wrapper_html => { style: "width: 100%;"}, placeholder: "Message ##{@chatroom.name}" %>
    <%= button_tag type: 'submit', class: "btn btn-primary", style: "height:100%; background-color:#5E70DC;" do %>
    <i class="fas fa-paper-plane"></i>
    <% end %>
    <% end %>
  </div>
</div>
