<div class="container chatroom">
<% if @chatroom.name %>
  <h1><%= @chatroom.name.capitalize %></h1>
<% elsif @chatroom.owner == current_user %>
  <h1><%= @chatroom.recipient.first_name %></h1>
<% else %>
  <h1><%= @chatroom.owner.first_name %></h1>
<% end %>

  <div class="messages"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <% end %>
</div>
