<div class="marge-page">
<div class="title-addbutton">
      <%= link_to patient_path(@patient), class:"arrow mt-0" do %>
    <i class="fas fa-long-arrow-alt-left"></i>
  <% end %>
  <h1 class="mb-3">Transmissions</h1>
</div>
<% count = 1 %>
<% @transmissions.each do |date, transmissions| %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading<%= count %> ">
      <button class="accordion-button buttn <%= 'collapsed' if count != 1 %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= count %>" aria-expanded="true" aria-controls="collapse<%= count %>">
        <%# <%= date.strftime("%Y-%B") %>
        <div>Décembre 2021</div>
      </button>
    </h2>
    <div id="collapse<%= count %>" class="accordion-collapse collapse <%= 'show' if count == 1 %>" aria-labelledby="heading<%= count %>" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <% transmissions.each do |transmission| %>
        <!-- <i><%= l transmission.created_at, format: :short %> </i> (<%= transmission.user.first_name %>) - -->
          <p><%== transmission.content %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% count += 1 %>
<% end %>

    <%# <%= link_to "Ajoute une transmission", patient_transmissions_path(@patient), class: "btn-transmission" %>
<div class="btn-transmission" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Ajouter une transmission
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> 📝 Ajoute une transmission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@patient, @transmission] do |f| %>
        <%= f.input :content, label: false, placeholder: "Transmission du jour" %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


</div>
<%# <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div> %>
