
<div class="card-product">
  <%= image_tag @user.photo %>
  <div class="card-product-infos">
    <h2><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></h2>
    <p>IDE depuis 6 ans</p>
  </div>
</div>

<div class="container">
  <div class="card-secteur mt-2">
    <div><strong>Secteur :</strong> <%= @user.arrondissement %></div>
    <div><strong>Equipe :</strong> Marie A.</div>
  </div>
  <div class="description"><strong>Description :</strong> <%= @user.description %></div>

  <p class="left-margin"> <strong>Soins :</strong></p>
  <div class="profile-card-tags">
    <div class="tag-soins">Pansement</div>
    <div class="tag-soins">Toilette</div>
    <div class="tag-soins">Perfusion</div>
  </div>

  <div class="profile-card-tags mt-2 mb-2">
    <div class="tag-soins">Dialyse péritonéale</div>
    <div class="tag-soins">Glycémie</div>
    <div class="tag-soins">TTT</div>
  </div>
</div>
<% @pending_replacements_as_substitute.keys.each do |key| %>
  <h4><%= key.first_name %> (<%= @pending_replacements_as_substitute[key].count %> Remplacements)</h4>
  <%= link_to 'valider', status_accepted_replacements_path(owner_id: key.id), method: :post %>
<% end %>

<div class="deco"><strong><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item mt-3" %></strong></div>
