<h4 class= "text-center">Voici le résultat de ta demande</h4>


<div class="card-products">
  <% @replacements.each do |user, replacements| %>
    <button class="card-product" data-bs-toggle="modal" data-bs-target="#myModal<%= user.id %>">
    <div class="card-product">
      <%= image_tag user.photo %>
      <div class="card-product-infos">
        <h2> <%= user.first_name.capitalize %> <%= user.last_name.capitalize %> </h2>
        <p> Arrondissement : <%= user.arrondissement %></p>
        <% replacements.each do |replacement| %>
        <div class="d-flex">
        <p><%= replacement.patient.first_name %></p>
        </div>
        <% end  %>
      </div>
    </button>

    <!-- Modal view user -->
    <div class="modal fade" id="myModal<%= user.id %>">
        <div class="modal-dialog mx-4">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title ml-4"> <strong> <%= user.first_name.capitalize %> <%= user.last_name.capitalize %></strong> </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
              <%= image_tag user.photo, class: "avatar", style: "width: 100px; border:" %>
                <div class="card-user mt-3">
                  <ul class="ml-0"> <strong>Notation :</strong>
                    <% 5.times do %>
                      <li class="list-in-line"><i class="fas fa-star"></i></li>
                    <% end %>
                  </ul>
                </div>
                <p> <strong>Description:</strong> <%= user.description %></p>
              </div>
              <!-- Modal footer -->
          </div>
        </div>
    </div>

  <% end %>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-center mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Je valide
</button>

<!-- Modal button valider -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
<<<<<<< HEAD
        <h5 class="modal-title" id="exampleModalLabel">Ta demande a bien été prise en compte</h5>
=======
        <h5 class="modal-title" id="exampleModalLabel">Bravo ta demande a bien été prise en compte</h5>
>>>>>>> 456f6ce26ca369d51ba1951c608ac202b2f2d10a
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class= "p-text">Tu recevras une notification de validation de tes remplaçants </p>
      </div>
      <div class="modal-footer">
        <%= link_to "Faire une autre demande", new_replacement_path, class: "btn btn-primary btn-center my-3" %></div>
        <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary btn-center my-3" %>
      </div>
    </div>
  </div>
</div>
