<h1>Replacements</h1>
<% @replacements.each do |replacement| %>
<%= replacement.user.first_name %>
<%= replacement.start_date %>
<%= replacement.end_date %>
<%= replacement.patient.first_name %>
<%= replacement.patient.last_name %>
<%= replacement.patient.adress %>
<% end %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Je valide
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ta demande à bien était prise en compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class= "p-text">Tu recevras une notification de validation de tes remplaçants </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-center my-3" data-bs-dismiss="modal" >Faire une autre demande</button>
        <button type="button" class="btn btn-primary btn-center">Retour à l’accueil</button>
      </div>
    </div>
  </div>
</div>
