<div class="footer">
  <div class="footer-links">
  <% if params[:controller] == "pages" && params[:action] == "home"%>
    <%= link_to root_path, class: "navbar-brand badge-bg-secondary" do %>
      <i class="fas fa-home"></i> <span class="text-size">Home</span>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-home"></i>
    <% end %>
  <% end %>

  <% if params[:controller] == "patients" && params[:action] == "index"%>
    <%= link_to patients_path, class: "navbar-brand badge-bg-secondary" do %>
      <i class="fas fa-address-card"></i> <span class="text-size">Patients</span>
    <% end %>
  <% else %>
    <%= link_to patients_path, class: "navbar-brand" do %>
      <i class="fas fa-address-card"></i>
    <% end %>
  <% end %>

  <% if params[:controller] == "replacements" && params[:action] == "new"%>
    <%= link_to new_replacement_path, class: "navbar-brand badge-bg-secondary" do %>
      <i class="fas fa-plus"></i> <span class="text-size">Demande</span>
    <% end %>
  <% else %>
    <%= link_to new_replacement_path, class: "navbar-brand" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  <% end %>

 <% if params[:controller] == "chatrooms"%>
    <%= link_to chatrooms_path, class: "navbar-brand badge-bg-secondary" do %>
      <i class="fas fa-comment"></i> <span class="text-size">Chats</span>
    <% end %>
  <% else %>
    <%= link_to chatrooms_path, class: "navbar-brand" do %>
      <i class="fas fa-comment"></i>
    <% end %>
  <% end %>
</div>
