<h1>Patients</h1>
<p class="text-center">_________________________________________</p>


<div class= "action-buttons">
  <%= link_to "Transmissions", "#", class: "card-actions" %>
  <%= link_to "+", "#", class: "card-actions" %>
</div>

<% @patients.each do |patient| %>
  <div class="cards">
    <%= link_to patient_path(patient) do %>
        <%= patient.display_confidential_name %>
        <p>Sexe:<%= patient.genre %></p>
        <p><%= patient.age %> ans</p>
    <% end %>
    </div>
<% end %>
