<h1>Patients</h1>
<p class="text-center">_________________________________________</p>


<div class= "action-buttons my-4">
  <strong><%= link_to "Transmissions", "#", class: "card-actions" %></strong>
  <strong><%= link_to "+", "#", class: "card-actions" %></strong>
</div>

<% @patients.each do |patient| %>
  <div class="cards-patient">
    <%= link_to patient_path(patient) do %>
      <div class="d-flex justify-content-between">
        <strong class="patient-name"><%= patient.display_confidential_name %></strong>
        <p>Sexe: <%= patient.genre %></p>
      </div>
        <p class="mb-0"><%= patient.age %> ans</p>
    <% end %>
    </div>
<% end %>
