<%= link_to "<", patients_path, class: "btn btn-retour" %>


<h1 class="text-center"><%= @patient.first_name.capitalize %>  <%= @patient.last_name.upcase %></h1>
<p class="text-center">_________________________________________</p>


  <div class="card-info-patient">
  <h4>INFORMATIONS</h4>
    <div><strong> Age:</strong> <%= @patient.age %> ans</div>
    <div><strong>Adresse:</strong> <%= @patient.adress %></div>
    <div><strong>Tél:</strong> <%= @patient.telephone_number %></div>
    <div><strong>Contact:</strong> <%= @patient.telephone_family %></div>
  </div>

  <div class="card-info-patient">
    <h4>IDEL référents: </h4>
    <p>Marie, Pauline</p>
  </div>

  <div class="card-info-patient">
    <h4>ATCDS</h4>
    <ul>
      <li>PTG en mai 2020</li>
      <li>HTA</li>
      <li>Cataracte</li>
    </ul>
  </div>

  <div class="card-info-patient alerte-allergie">
    <h4>ALLERGIES : IODE</h4>
  </div>

  <div class="card-info-patient">
    <h4>TRAITEMENTS</h4>
    <ul>
      <li>Amlor 30 (1 - 0 - 1)</li>
      <li>Paracétamol 1g ALD</li>
    </ul>
  </div>

  <div class="card-info-patient">
    <h4>SOINS</h4>
    <ul>
      <li>Aide à la toilette</li>
      <li>TA 1/jour</li>
      <li>Pillulier</li>
      <li>Pansement ulcère jambe gauche</li>
    </ul>
  </div>

  <div class="card-info-patient">
    <h4>DERNIERES TRANSMISSIONS</h4>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Nouvelle Transmission
  </button>
      <%= link_to "Liste Transmission", patient_transmissions_path(@patient), class: "btn btn-primary" %>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@patient, @transmission] do |f| %>
        <%= f.input :content %>
        <%= f.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
