<%= link_to "<", patients_path, class: "btn btn-retour" %>


<h1 class="text-center"><%= @patient.first_name.capitalize %>  <%= @patient.last_name.upcase %></h1>
<p class="text-center">_________________________________________</p>

<%= link_to patient_path, method: :delete, data: {confirm: "Are you sure?"} do %>
  <i class="fas fa-times"></i>
<% end %>


  <div class="card-info-patient">
  <h4><i class="fas fa-info-circle"></i></h4>
    <div><strong> Age:</strong> <%= @patient.age %> ans</div>
    <div><strong>Adresse:</strong> <%= @patient.adress %></div>
    <div><strong>Tél:</strong> <%= @patient.telephone_number %></div>
    <div><strong>Contact:</strong> <%= @patient.telephone_family %></div>
  </div>

  <div class="card-info-patient">
    <h4><i class="fas fa-user-nurse"></i></h4>
    <p>Marie, Pauline</p>
  </div>

  <div class="card-info-patient">
    <h4><i class="fas fa-business-time"></i></h4>
    <ul>
      <li>PTG en mai 2020</li>
      <li>HTA</li>
      <li>Cataracte</li>
    </ul>
  </div>

  <div class="card-info-patient alerte-allergie">
    <h4><i class="fas fa-allergies">  ALLERGIES : IODE</i></h4>
  </div>

  <div class="card-info-patient">
    <h4><i class="fas fa-capsules"></i></h4>
    <ul>
      <li>Amlor 30 (1 - 0 - 1)</li>
      <li>Paracétamol 1g ALD</li>
    </ul>
  </div>

  <div class="card-info-patient">
    <h4><i class="fas fa-hand-holding-medical"></i></h4>
    <ul>
      <li>Aide à la toilette</li>
      <li>TA 1/jour</li>
      <li>Pillulier</li>
      <li>Pansement ulcère jambe gauche</li>
    </ul>
  </div>

  <div class="card-info-patient">
    <h4><i class="fas fa-file-invoice"></i></h4>
      <ul>
        <li>06/11/21 (Marie) - Pst refait RAS</li>
      </ul>
  </div>
</div>
