<div class="marge-page">
  <h2><strong><%= @patient.first_name.capitalize %>  <%= @patient.last_name.upcase %></strong></h2>
  <p><%= @patient.birthday %></p>


  <div class="card-info-patient p-3">
    <div><i class="fas fa-map-marker-alt"></i> <%= @patient.adress %></div>
    <div><i class="fas fa-mobile-alt"></i> <%= @patient.telephone_number %></div>
    <div><i class="far fa-address-book"></i> <%= @patient.telephone_family %></div>
  </div>

  <h5 class="mt-3"><strong>Infirmières référentes</strong></h5>
  <div class="card-info-patient mb-3">
    <div class="d-flex align-items-center">
      <%= image_tag "https://ca.slack-edge.com/T02NE0241-U02H14N14QY-dd18447e4b8b-512", class:"avatar" %>
      <p>Delphine Chang-pi-hin</p>
      </div>
  </div>
  <div class="card-info-patient mb-3">
    <div class="d-flex align-items-center">
      <%= image_tag "https://scontent.fcdg3-1.fna.fbcdn.net/v/t1.18169-9/31144086_1629633837113225_5971500848746001918_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_ohc=RWNn3ZmW4sQAX-DXvl7&_nc_ht=scontent.fcdg3-1.fna&oh=a18641a80ccc72b55e6ab8da888dde69&oe=61CE199F", class:"avatar" %>
      <p>Victoria Schintu</p>
      </div>
  </div>

  <h5 class="mt-3"><strong>Antécédents</strong></h5>
  <div class="card-info-patient">
    <ul>
      <% @patient.atcd.split(',').each do |antecedent| %>
        <li><%= antecedent.strip %></li>
      <% end %>
    </ul>
  </div>

  <h5 class="mt-3"><strong>Allergies</strong></h5>
  <div class="card-info-patient">
  <strong><%= @patient.allergy.upcase %></strong>
  </div>

  <h5 class="mt-3"><strong>Traitements</strong></h5>
  <div class="card-info-patient">
    <ul>
      <% @patient.treatment.split(',').each do |ttt| %>
        <li><%= ttt.strip %></li>
      <% end %>
    </ul>
  </div>

  <h5 class="mt-3"><strong>Soins</strong></h5>
  <div class="card-info-patient">
    <ul>
      <% @patient.soin.split(',').each do |acte| %>
        <li><%= acte.strip.capitalize %></li>
      <% end %>
    </ul>
</div>

<%= link_to "Voir les transmissions", patient_transmissions_path(@patient), class: "btn-transmission" %>
